


<% if @listings.any? %>
  <% @listings.each do |listing| %>
    <h2> <%= link_to listing.name, listing_path(listing) %> </h2>
    <h2> <%= link_to "Edit #{listing.name}", edit_listing_path(listing) %> </h2>
  <% end %>
<% else %>
  <p>No listings yet.<p>
<% end %>

<%= link_to "Add a listing", new_listing_path %>

